[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/bx"]
	path = deps/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "deps/bgfx"]
	path = deps/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "deps/bimg"]
	path = deps/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/entt"]
	path = deps/entt
	url = https://github.com/skypjack/entt
[submodule "deps/imgui/imgui"]
	path = deps/imgui/dear-imgui
	url = https://github.com/ocornut/imgui
